*{
  margin: 0;
  padding: 0;
}

:root{
  --color-main : rgb(0 135 255);
  --background-main : white;
}

.main-color{
  color: var(--color-main);
}
.main-bg{
  color: var(--background-main);
}
body{
  background: var(--background-main);
}

.header{
  font-family: 'Dela Gothic One', cursive;
  color: var(--color-main);
  font-size: 45px;
}
.addSectionH3{
  font-family: 'Dela Gothic One', cursive;
  color: var(--color-main);
}
.table{
  border-bottom: 0.5px solid rgb(0, 136, 255);
}
.w-55{
  width: 55%;
}
.w-15{
  width: 15%;
}
.add_btn{
  background-color: var(--background-main);
  color: var(--color-main);
  border: 1px solid;
  border-color: var(--color-main);
}
.add_btn:hover{
  background-color: var(--background-main);
  color: var(--color-main);
  border: 1px solid;
  border-color: var(--color-main);
}
.add_btn:focus{
  background-color: var(--background-main) !important;
  color: var(--color-main) !important;
  border: 1px solid;
  border-color: var(--color-main);
}
.form-check-input{
  width: 1.5em;
  height: 1.5em;
}
.tbody_tr{
  border-bottom: 0.5px solid rgba(0, 136, 255, 0.384);
}
.addSection{
  margin-top: 200px;
}
.theme_btn{
  position: absolute;
  right: -86px;
  top: 29px;
  transform: rotate(90deg);
}
.theme_btn .btn , .theme_btn .btn:focus{
  background-color: white;
  border: 2px black solid !important;
  color: black !important;
  border-bottom-right-radius: 0;
  border-bottom-left-radius:0;
  border: 0;
}
.theme_part{
  position: fixed;
  left: 0px;
  top: 20.5%;
  border: 2px solid var(--color-main);
  translate: -100%;
  background-color: white;
  width: 25%;
  transition: 0.5s all;
}
.show{
  translate: 0;
}
@media (max-width:1024px){
  .theme_part{
    width: 50%;
  }
}
@media (max-width:600px){
  .theme_part{
    width: 87%;
  }
  #theme_btn{
    font-size: 26px;
  }
}
#theme_btn{
  font-size: 26px;
}

.themes_container{
  padding: 30px 50px;
  background-color: #f0f0f0;
}

@media (max-width:407px){
  .themes_container{
    padding: 30px 0px;
  }
}
.theme{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  margin: 0px 10px;
  cursor: pointer;

}
.theme.active{
  border: 2px black solid;
}

.themes_container ul{
  display: flex;
  justify-content: center;
}
.themes_container li{
  list-style: none;
}
#theme1{
  background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 84%);
}
#theme2{
  background:linear-gradient(45deg, rgba(255,255,255,1)  0%, rgba(0,0,0,1) 84%);
}
#theme3{
  background: linear-gradient(45deg, rgba(255,0,249,1) 0%, rgba(0,14,255,1) 100%);
}

@media (max-width:680px) {
  #theme_btn{
    font-size: 17px;
  }
  .theme_btn{
    position: absolute;
    right: -64.5px;
    top: 19px;
    transform: rotate(90deg);
  }
}